<a href="https://colab.research.google.com/github/Narae-210/Python-self-study/blob/main/python_function%26class_selfstudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# vartest.py
#a = 1
def vartest(a):
    a = a +1

vartest(a) #아무것도 안나오고
#print(a) #그냥 1이 나옴! 왜냐면 a에서 1이 더해진건 vartest 함수 안에서만 일어난 일이고 return 반환값이 없으니까 함수 밖으로 안나와

In [ ]:
# vartest_error.py
def vartest(a):
    a = a + 1

#vartest(3)
print(a) #이 컴터 자식이 a를 까먹지 않으니까 ;; 어쩔수없음^^

1

In [ ]:
def vartest(hello):
  hello += 1

print(hello) # 여기 error 나지! 왜냐면 hello 는 함수 안에서만 정의돼서 그럼

NameError: ignored

In [ ]:
na = 1
def vartest():
  global na
  na += 1
  return na
vartest()

2

In [ ]:
number = input("숫자를 입력하세요: ")
print(number)

숫자를 입력하세요: 3
3

### **연습문제!!**

In [1]:
#주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

def is_odd (a):
  if a % 2 == 0:
    return "짝수"
  else:
    return "홀수"

In [3]:
is_odd(1)

'홀수'

In [7]:
#입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)

def everymean (*args):
  sum = 0
  for i in args:
    sum += i
  return sum/len(args)

In [9]:
everymean(1,2,3,4,5)

3.0

In [14]:
#다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

#def twosum (a,b):
a = input("첫 번째 숫자를 입력하세요: ")
b = input("두 번째 숫자를 입력하세요: ")
print( int(a) + int(b) )

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
3

### **CLASS!!!!!!!**

In [31]:
class FourCal:
  def __init__ (self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result

In [32]:
a = FourCal(3,2)
#a.setdata(3,2)

In [28]:
print(a.first)

3

In [29]:
print(a.add())

5