<a href="https://colab.research.google.com/github/Narae-210/Python-self-study/blob/main/python_control_statement_selfstudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# marks2.py 
marks = [90, 25, 67, 45, 80]

number = 0
for i in marks:
  number += 1
  if i >= 60:
    print("%d번 학생 축하합니다." % number)
  else: continue

1번 학생 축하합니다.
3번 학생 축하합니다.
5번 학생 축하합니다.

In [3]:
#marks3.py
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
#구구단

for i in range(2,10):
  for j in range (1,10):
    print(i*j)

In [9]:
for i in range(2,10):
  for j in range(1, 10):
    print(i*j, end=" ") 
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### **연습문제~!!!**

In [11]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need") #이거 왜 프린트 안되누,,,,
else: print("none")

shirt

In [13]:
#while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

i=0
sum=0
while i <1000:
  i += 1 
  if i % 3 ==0:
     sum += i
print(sum)

166833

In [16]:
#while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

i = 0
while i < 5:
  i += 1
  print('*' * i)

*
**
***
****
*****

In [17]:
#for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [21]:
#A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

classA = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

#for문을 사용하여 A 학급의 평균 점수를 구해 보자.

sum =0
for i in classA:
  sum += i
print(sum/len(classA))

79.0

In [22]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [23]:
[n * 2 for n in numbers if n % 2 == 1]

[2, 6, 10]